{% import "/views/macros/_chapter.html" as chapter with context %}

<div class="tst-section-gallery{% if partial.class %} {{partial.class}}{% endif %}">
  <div class="tst-section-gallery__container">
    {% if partial.chapter_top %}
    <div class="tst-section-gallery__chapter-top">
      {{chapter.chapter(partial.chapter_top)}}
    </div>
    {% endif %}

    {% if partial.gallery %}
    <div class="tst-section-gallery__images">
      {% for item in partial.gallery %}
      <div class="tst-section-gallery__image background-images tst-section-gallery__image--{{loop.index}}">
        <a href class="tst-section-gallery__image-link">
          <div class="tst-section-gallery__image__image background-images__image"
            style="background-image: url({{g.static(item.url).url.path}})"></div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if partial.chapter_bottom %}
    <div class="tst-section-gallery__chapter-bottom">
      {{chapter.chapter(partial.chapter_bottom)}}
    </div>
    {% endif %}
  </div>
</div>
