{% import "/views/macros/_chapter.html" as chapter with context %}

<div class="tst-section-gallery{% if partial.class %} {{partial.class}}{% endif %}">
  <div class="tst-section-gallery__container"
    {% if partial.ig_gallery_settings %}
    ng-controller="TSTIGGalleryController as gallery"
    ng-init="gallery.init({{partial.ig_gallery_settings|jsonify}})"
    {% endif %}>
    <div class="tst-section-gallery__chapter-top">
      {% if partial.chapter_top %}
        {{chapter.chapter(partial.chapter_top)}}
      {% endif %}
    </div>

    <div class="tst-section-gallery__images" tst-gallery>
      <!-- TODO: Setup ngFor loop for tst-gallery -->
      <div class="tst-section-gallery__image background-images tst-section-gallery__image--1">
        <a href class="tst-section-gallery__image-link">
          <div class="tst-section-gallery__image__image background-images__image"
            style="background-image: url(/images/home/tim-stafford-turtle.jpg)"></div>
        </a>
      </div>
      <div class="tst-section-gallery__image background-images tst-section-gallery__image--2">
        <a href class="tst-section-gallery__image-link">
          <div class="tst-section-gallery__image__image background-images__image"
            style="background-image: url(/images/home/tim-stafford-cat.jpg)"></div>
        </a>
      </div>
      <div class="tst-section-gallery__image background-images tst-section-gallery__image--3">
        <a href class="tst-section-gallery__image-link">
          <div class="tst-section-gallery__image__image background-images__image"
            style="background-image: url(/images/home/tim-stafford-dog.jpg)"></div>
        </a>
      </div>
      <div class="tst-section-gallery__image background-images tst-section-gallery__image--4">
        <a href class="tst-section-gallery__image-link">
          <div class="tst-section-gallery__image__image background-images__image"
            style="background-image: url(/images/home/tim-stafford-wolf.jpg)"></div>
        </a>
      </div>
    </div>

    <div class="tst-section-gallery__chapter-bottom">
      {% if partial.chapter_bottom %}
        {{chapter.chapter(partial.chapter_bottom)}}
      {% endif %}
    </div>
  </div>

</div>
