{% import "/views/macros/_chapter.html" as chapter with context %}
{% set ui = g.doc('/content/strings/ui.yaml') %}
{% set current_date = g.date() %}
{% set events = [] %}
{% for key in partial.events.keys()|sort() %}
  {% set event = partial.events[key] %}
  {% do event.update({'start_date': g.date(event.start_date, from='%m/%d/%Y')}) %}
  {% do event.update({'end_date': g.date(event.end_date, from='%m/%d/%Y')}) %}
  {% do events.append(event) %}
{% endfor %}

<div class="tst-section-events{% if partial.class %} {{partial.class}}{% endif %}">
  <div class="tst-section-events__container"
    {% if partial.events_settings %}
    ng-controller="TSTEventsController as events"
    ng-init="events.init({{partial.events_settings|jsonify}})"
    {% endif %}>

    <div class="tst-section-events__list">
      {% for event in events|sort(attribute='start_date')|reverse %}
      <div class="tst-section-event tst-section-event--{{loop.index}}">
        {% if event.image_url %}
        <div class="tst-section-event__image background-images">
          <div class="tst-section-event__image__image background-images__image"
            style="background-image: url({{g.static(event.image_url).url.path}})"></div>
        </div>
        {% endif %}

        <div class="tst-section-event__content">
          <div class="tst-section-event__chapter tst-chapter">
            {% if event.title %}<div class="tst-section-event__chapter__title">{{_(event.title)}}</div>{% endif %}
            {% if event.start_date and event.end_date %}
            <div class="tst-section-event__chapter__date">{{event.start_date|date(format='long', locale='en')}} — {{event.end_date|date(format='long', locale='en')}}</div>
            {% endif %}
            {% if event.location %}<div class="tst-section-event__chapter__location">{{_(event.location)}}</div>{% endif %}
            {% if event.description %}<div class="tst-section-event__chapter__description">{{_(event.description)}}</div>{% endif %}
            {% if event.booking_url %}
            <div class="tst-section-event__chapter__ctas ctas">
              <div class="tst-section-event__chapter__cta ctas__cta">
                <a href="{{event.booking_url}}" class="cta__item button">
                  <span class="button__label">
                   <span class="button__label__label">{{_(ui.events_event_cta.string)}}</span>
                 </span>
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
