/* ==========================================================================
   Form
   ========================================================================== */

.tst-form
  &__container
    position: relative
    display: flex
    width: 100%
    height: auto
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 100px
    +mobile-section-padding

  &__success
    display: none

    &.active
      display: flex

  &__form
    width: 100%
    max-width: 600px
    border: 1px solid $global-color-black
    padding: 20px
    +md
      padding: 50px 60px

  .form__title,
  .form__description,
  .form__header
    margin-bottom: 25px

  .form__title,
  .form__description
    text-align: center

  .form__header,
  .form__field__label
    +type-size-form-small

  .form__title
    +type-size-form-large

  .form__header
    +type-weight-bold
    text-transform: uppercase
    +md-lt
      padding-top: 25px

  .form__field
    display: flex
    flex-direction: column
    margin-bottom: 25px

  .form__field__label
    order: 1
    display: flex
    position: relative
    z-index: 1
    transition: all 300ms ease
    transform-origin: left top
    transform: translate3d(0, 120%, 0) scale3d(1.0,1.0,1.0)

  .form__field__input
    order: 2
    position: relative
    z-index: 2

  .form__field__input:focus,
  .form__field__input:valid,
    + .form__field__label
      transform: translate3d(0, 0, 0) scale3d(0.85,0.85,0.85)

  .form__field__input[type="date"]
    margin-bottom: 60px

    + .form__field__label
      transform: translate3d(0, 0, 0) scale3d(1.0,1.0,1.0)
      margin-top: 20px
      margin-bottom: 25px

  .required
    +type-red
    +type-weight-bold
    margin-left: 3px

  .tst-form__cta
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    text-align: center

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea
  width: 100%
  height: auto
  min-height: 35px
  appearance: none
  background-color: transparent
  border: 0 none
  outline: none
  border-bottom: 1px solid $global-color-black
  +type-body

  &:focus
    outline: none
