/* ==========================================================================
   Section Events
   ========================================================================== */

.tst-section-events
  &__container
    +mobile-section-padding
    +xl
      max-width: $global-container-max-width
      margin: 0 auto

  &__container,
  &__list
    position: relative
    display: flex
    width: 100%
    height: auto
    flex-direction: column
    justify-content: center
    align-items: center

  &__list
    max-width: 900px
    margin: 0 auto

  .tst-section-event
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 40px
    +md-lt
      padding-top: 40px
      border-bottom: 1px solid $global-color-black

      &:first-child
        padding-top: 0

      &:last-child
        border-bottom: 0
    +md
      flex-direction: row
      align-items: flex-start

    &__image
      position: relative
      display: flex
      width: calc(400 / 1440 * 100vw)
      min-width: 200px
      height: calc(400 / 1440 * 100vw)
      min-height: 200px
      flex: 1 0 auto
      +md
        max-width: 400px
        max-height: 400px
        margin-right: calc(77 / 1440 * 100vw)
      +xl
        margin-right: 77px

    &__chapter
      margin-top: 20px
      +md-lt
        align-items: center
        text-align: center

    &__chapter__title
      +type-weight-bold
      +type-size-body-large
      margin-bottom: 30px

    &__chapter__date
      +type-weight-regular
      margin-bottom: 10px

    &__chapter__date,
    &__chapter__location
      +type-size-body-medium

    &__chapter__location
      margin-bottom: 30px

    &__chapter__description
      margin-bottom: 30px
